### Tuple
* Immutable datastructure
* Often used for passing information across functions.
* Function call, function return - everything is tuple, we will visit shortly
* Value to tuple can be re-assigned & contents can't b altered

In [1]:
tup1 = (1,2,3)

In [2]:
type(tup1)

tuple

In [10]:
tup1[0]
tup1
t = (1,)
type(t)

tuple

In [11]:
tup1 = (88,8)
#Immutable datastructure
#Often used for passing information across functions.
#Function call, function return - everything is tuple

### Dictionary
* Key-Value data stucture
* Un-ordered

In [13]:
#Creating empty dictionary
db = {}
db = dict()

In [15]:
db = {'a':'abcdef','c':'cook'}

In [16]:
db

{'a': 'abcdef', 'c': 'cook'}

In [17]:
db['a']

'abcdef'

In [18]:
db.items()

dict_items([('a', 'abcdef'), ('c', 'cook')])

In [19]:
db.keys()

dict_keys(['a', 'c'])

In [20]:
db.values()

dict_values(['abcdef', 'cook'])

In [22]:
db['d'] = 'dog'

In [23]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog'}

In [24]:
db['e'] = list([1,2,6,7,5])

In [25]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog', 'e': [1, 2, 6, 7, 5]}

In [26]:
db['e'].reverse()

In [27]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog', 'e': [5, 7, 6, 2, 1]}

In [28]:
db['a']

'abcdef'

In [29]:
db.pop('a')

'abcdef'

In [30]:
db

{'c': 'cook', 'd': 'dog', 'e': [5, 7, 6, 2, 1]}

In [31]:
del db['c']

In [32]:
db

{'d': 'dog', 'e': [5, 7, 6, 2, 1]}

### Sets
* Contains unique elements
* Not in order in which data was inserted

In [36]:
s = set([2,3,4,5,6,6])

In [37]:
s

{2, 3, 4, 5, 6}

In [38]:
s1 = set([5,6,7,8])

In [39]:
s

{2, 3, 4, 5, 6}

In [40]:
s1

{5, 6, 7, 8}

In [41]:
s.union(s1)

{2, 3, 4, 5, 6, 7, 8}

In [42]:
s

{2, 3, 4, 5, 6}

In [43]:
s1

{5, 6, 7, 8}

In [44]:
s.difference(s1)

{2, 3, 4}

In [45]:
s.intersection(s1)

{5, 6}

In [46]:
std_marks = {'rajat':100, 'ravi':20, 'awantik':35, 'das':88}

In [47]:
for k,v in std_marks.items():
    print(k,v)

ravi 20
das 88
awantik 35
rajat 100

In [48]:
max(std_marks.values())

100

In [49]:
std_marks.items()

dict_items([('ravi', 20), ('das', 88), ('awantik', 35), ('rajat', 100)])

In [51]:
sports_ravi = set(['cricket','football','tennis'])

In [52]:
sports_ranjeet = set(['football','khokho','chess'])

In [53]:
sports_ranjeet.intersection(sports_ravi)

{'football'}

In [54]:
l = range(10)

In [55]:
l

range(0, 10)

In [56]:
list(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [60]:
max(list(range(100,10,-5)))

100

In [61]:
sum(list(range(100,10,-5)))

1035

In [68]:
#Will return True as long as any data is non-zero
any([1,2,3,0])

True

In [69]:
#Will return True only if all is non-zero
all([11,22,33])

True

In [66]:
l = [[1,2,3],[4,5,6],[7,8,9]]

In [67]:
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]